.logotxt{
    height: 100%;
    background-position-y: 0%;
   }
.ah{
   height: 50px;
    background-color:#822433;
    
}.ico{
    filter:invert(95%);
}
.ri{
    background-image:url('../ico/ri.svg');
    background-repeat: no-repeat;
    background-position: 1%;
    filter: opacity(97%);
    color:black;
}
.up{
    width: 150%;
}
.tas{
    padding:10px;
}
.sel{
        background-color: #eeeeee;
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-width: 200%;
  

}.expandable {
    background: #fff;
    overflow: hidden;
    color: #000;   
    line-height: 100%;
  
    transition: all 1.5s ease-in-out;
    height: 0;
   }
   
   .expandable:target {
    height:50%;
  }
  .sf{
      width:90%;
     
  }.ta{
      width: 100%;
  }.co{
      width:100%;
  }



@keyframes odio {
    from {background-color: rgb(188, 71, 123);}
    to {background-color: yellow;}
   from {background-color: yellow;}
   to {background-color: rgb(188, 71, 123);}
  }