.logotxt{
    height: 100%;
    background-position-y: 0%;
   }
.ah{
   height: 50px;
    background-color:#822433;
    overflow: hidden;
}.ico{
    filter:invert(95%);
}
.ri{
    background-image:url('../ico/ri.svg');
    background-repeat: no-repeat;
    background-position: 1%;
    filter: opacity(97%);
    color:black;
}
.up{
    width: 150%;
}
.tas{
    padding:10px;
}
.sel{
        background-color: #eeeeee;
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-width: 200%;
  

}



@keyframes odio {
    from {background-color: rgb(188, 71, 123);}
    to {background-color: yellow;}
   from {background-color: yellow;}
   to {background-color: rgb(188, 71, 123);}
  }